.About {
  padding: 60px 0;
}

.About__area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.About__heading {
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
}