.NavigationItem {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  padding: 0 18px;
  line-height: 80px;
  text-decoration: none;
  text-transform: uppercase;
  
  &:hover {
    color: #666;
  }
}