.Portfolio {
  padding: 60px 0;
  max-width: 1040px;
  margin: 0 auto;
}

.Portfolio__heading {
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
}

.Portfolio__projects {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 0;
}