// %icon {
//   transform: translateY(-7px);
// }

.About__Sub-heading {
  color: #fff;
  font-size: 80px;
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.About__Toolbox {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  margin: 0 auto;
  justify-content: center;
  list-style-type: none;
  text-align: center;
  padding: 60px 0 30px 0;
}

.About__Toolbox-icon {
  color: #fff;
  font-size: 100px;
  transition: all .3s ease-out;
  margin: 10px 20px;

  &:hover {
    transform: translateY(-7px);
  }

  // &:not(:last-child) {
  //   margin-right: 40px;
  // }

  @media screen and (max-width: 650px) {
    font-size: 100px;
  }

  @media screen and (max-width: 540px) {
    font-size: 90px;
  }

  @media screen and (max-width: 390px) {
    width: 100%;
  }
}

.html5 {
  
  @media screen and (max-width: 700px) {
    color: #E44D26;
  }

  &:hover {
    color: #E44D26;
  }
}

.css3, .css3-alt {

  @media screen and (max-width: 700px) {
    color: #167DBE;
  }

  &:hover {
    color: #167DBE;
  }
}

.js {

  @media screen and (max-width: 700px) {
    color: #F7E018;
  }

  &:hover {
    color: #F7E018;
  }
}

.react {

  @media screen and (max-width: 700px) {
    color: #00BDFF;
  }

  &:hover {
    color: #00BDFF;
  }
}

.node-js, .nodejs {

  @media screen and (max-width: 700px) {
    color: #78B743;
  }

  &:hover {
    color: #78B743;
  }
}

.npm {

  @media screen and (max-width: 700px) {
    color: #C53635;
  }

  &:hover {
    color: #C53635;
  }
}

.github, .github-square {

  @media screen and (max-width: 700px) {
    color: #2AA9DA;
  }

  &:hover {
    color: #2AA9DA;
  }
}

.sass {
  @media screen and (max-width: 700px) {
    color: #C76494;
  }

  &:hover {
    color: #C76494;
  }
}